* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}

.container {
  width: 65%;
  margin: 0 auto;

}

.navcolor {
  background-color: #255EE9;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;

}

.socialdiv ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: white;
}

.btn {
  border: none;
  border-radius: 25px;
  height: 35px;
  width: 35%;
  font-size: 1.2em;
  margin: 25px;

}

nav img {
  padding: 5px;
}

nav div {

  width: 25%;
}
.navc ul{
  display: flex;
}
.navc {
  flex-grow: 3;
}

header {
  display: flex;
  background-image: url(../img/jumbo.png);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 3.5rem;
  text-align: center;
}

header p {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.btnero {
  color: white;
  background-color: #23272A;
}

.divbtn1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;

}

.logo {
  height: auto;
  width: 55%;

}

section {
  display: flex;
  padding: 25px;
}

.large {
  width: 75%;
}

.small {
  margin-top: 35px;
  width: 25%;

}

h2 {
  font-size: 2rem;
}

.bottom {
  display: flex;
  padding: 25px;
  justify-content: space-around;
}

.banner {
  text-align: center;
}

footer {
  background-color: black;

}

.foot {
  display: flex;
  padding: 25px;
  justify-content: space-between;
}

.footer-1 {
  width: 18%;
}

.pink h2 {
  color: #7289DA;
  margin-bottom: 15px;
}

.pink {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.bluprimariga{
  color:#7289DA ;
}
.blu {
color: white;
padding:15px;
}

.hr {
  color: 3px white;
}

.footer-2 {
  margin-top: 15px;
}

.logo2 {
  background-color: #F08080;
  height: 25px;
  width: 75px;
  font-size: 10px;
  text-align: center;
}

.h2sfondo {
  padding: 25px;
  background-image: url(../img/stars.svg);
  background-size: contain;

}

.mac2color {
  background-color: #7289DA;
}

.footerita {
  font-size: 0.8rem;
  color: white;
}

.footerita img {
  width: 25px;
}
.social{
  color: white;
  margin-top: 15px;
  font-size: 1.5rem; 
  
}
.socialdiv{
  display: flex;
  
}
.social li{
  margin:  10px;
}
ul li {

  padding: 5px;
  margin: 5px;
}
.registrati{
  width: 100px;
}