* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 65%;
    margin: 0 auto;

}
.navcolor{
  background-color: #255EE9;
}
  nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
   
  }
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
nav a{
  text-decoration: none;
  color: white;
}
.btn{
  border: none;
  border-radius: 25px;
  height: 35px;
  width: 35%;
  font-size: 1.2em;
  margin: 25px;

}
  
  nav img{
     padding: 5px;
  }
  nav div{
   
    width: 25%;
  }
  .navc{
    flex-grow: 3;
  }
  header{ 
    display: flex;
   background-image: url(../img/jumbo.png);
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
h1{
 padding-top: 30px;
 padding-bottom: 30px;
  color: white;
  font-size: 3.5rem;
  text-align: center;
}
header p{
  color: white;
  font-size: 2rem;
  text-align: center;
}
.btnero{
color: white;
background-color: #23272A;
}
.divbtn1{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;

}
  .logo{
   height: auto;
   width: 55%;

  }
  section{
    display: flex;
    height: 200px;
    padding: 25px;
  }
  .large{
    width: 75%;
  }
  .small{
    width: 25%;
  }
  .bottom{
    display: flex;
    padding: 25px;
    justify-content: space-around;
  }
  .banner{
    background-color: #228B22;
    border: 2px dashed black;
    height: 250px;
    width: 55%;
  }
  footer{
    background-color: black;

  }
.foot{
        display: flex;
    padding: 25px;
    justify-content: space-between;
  }
  .footer-1{
    height: 250px;
    width: 18%;
  }
  .pink{ border: 2px dashed black;
    background-color: #F08080;
    flex-grow: 2;
  }
 .blu{
    background-color: #1E90FF;
    border: 2px dashed white;
  }
  .hr{
    color:3px white;
  }
  .footer-2{
    background-color: #20B2AA;
    height: 65px;
    margin-top: 15px;
  }
  .logo2{
    background-color: #F08080;
    height: 25px;
    width: 75px;
    font-size: 10px;
    text-align: center;
  }